
@{
    ViewBag.Title = "StudentScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section footer
{
    <script src="~/Assets/scripts/DropDown.js"></script>
    <script src="~/Assets/scripts/StudentScoreControl.js"></script>
}
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="~/StudentTeacher/InstructorInfo" class=""><i class="fa fa-address-card"></i> <span>Thông tin chi tiết</span></a></li>
                <li><a href="~/TopicStudent/ChooseTopic" class=""><i class="fa fa-book"></i> <span>Đề tài thực tập</span></a></li>
                <li><a href="~/Score/StudentScore" class="active"><i class="fa fa-list-alt"></i> <span>Kết quả thực tập</span></a></li>

            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h4>KẾT QUẢ THỰC TẬP</h4>
                </div>

            </div>
            <!-- END OVERVIEW -->
            <!-- RECENT PURCHASES -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div>
                        <label style="float: left;margin: 5px 10px 25px 0px ">Thực tập </label>
                        <div class="ddlLoaiTT col-sm-3" style="padding-left:20px">
                        </div>
                        <table class="mytable table table-bordered" cellspacing="0" cellpadding="5">
                            <tr>
                            <tr>
                                <th class="center-header" scope="col">STT</th>
                                <th class="center-header" scope="col" style="width:25%;">
                                    Tên đề tài
                                </th>
                                <th class="center-header" scope="col">Điểm công ty</th>
                                <th class="center-header" scope="col">Điểm giáo viên hướng dẫn</th>
                                <th class="center-header" scope="col">Điểm báo cáo</th>
                                <th class="center-header" scope="col">Điểm tổng</th>
                            </tr>
                            <tbody class="tbody"></tbody>
                        </table>

                        

                        <div class="row editsave"></div>
                    </div>
                </div>

            </div>
            <!-- END RECENT PURCHASES -->

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
