
@{
    /**/

    ViewBag.Title = "Phân bộ môn";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section footer
{
    <script src="~/Assets/scripts/DropDown.js"></script>
    <script src="~/Assets/scripts/StudentSubjectControl.js"></script>

}
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="fa fa-book"></i><span> Thực tập </span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            @if (Session["Quyen"].ToString().Contains("Thêm, Sửa,Xóa đề tài"))
                            {
                                <li><a href="~/Topic/Index" class=""><span>Đề tài thực tập</span></a></li>
                            }


                            @if (Session["Quyen"].ToString().Contains("Xem danh sách hướng dẫn"))
                            {
                                <li><a href="~/Student/ListStudentTeacher" class=""><span>Danh sách hướng dẫn</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Chốt đề tài"))
                            {
                                <li><a href="~/TopicStudent/SaveTopic" class=""><span>Chốt đề tài</span></a></li>
                            }
                            <li><a href="~/TopicStudent/MonitorProgress" class=""><span>Giám sát tiến độ</span></a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="fa fa-address-card"></i> <span> Danh sách </span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages2" class="collapse">
                        <ul class="nav">
                            @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách sinh viên"))
                            {
                                <li><a href="~/Student/ListStudent" class=""><span>Danh sách sinh viên</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách Giảng viên"))
                            {
                                <li><a href="~/Teacher/ListTeacherSubject" class=""><span>Danh sách giảng viên</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách thực tập"))
                            {
                                <li><a href="~/StudentPractice/Index" class=""><span>Danh sách thực tập</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Thêm, Sửa, Xóa thông báo"))
                            {
                                <li><a href="~/Notification/Index" class=""><span>Danh sách thông báo</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Xem danh sách sinh viên bộ môn"))
                            {
                                <li><a href="~/Student/ListStudentSubject" class=""><span>Danh sách sinh viên</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Xem danh sách giảng viên bộ môn"))
                            {
                                <li><a href="~/Teacher/ListTeacherSubject" class=""><span>Danh sách giảng viên</span></a></li>
                            }
                        </ul>
                    </div>
                </li>


                @if (Session["Quyen"].ToString().Contains("Phân Bộ Môn"))
                {
                    <li><a href="~/StudentSubject/Index" class="active"><i class="fa fa-server"></i> <span>Phân bộ môn</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa, Xóa điểm"))
                {
                    <li><a href="~/Score/ListScore" class=""><i class="fa fa-pencil-square-o"></i> <span>Điểm</span></a></li>
                }

                @if (Session["Quyen"].ToString().Contains("Phân giáo viên hướng dẫn "))
                {
                    <li><a href="~/StudentTeacher/AssignedTeacher" class=""><i class="fa fa-server"></i> <span>Phân GVHD</span></a></li>
                }
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-3">
                    <h4>PHÂN BỘ MÔN</h4>
                </div>
                <div class="col-md-9" style="margin-top: 10px">
                    <div class="input-group" style="max-width: 300px;float: right;" id="adv-search">
                        <input onkeyup="search()" id="myInput" type="text" class="form-control"
                               placeholder="Search ..." />
                        <div class="input-group-btn" style="width: 20%;">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button"
                                            class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         role="menu">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter">
                                                    Tìm kiếm
                                                    theo
                                                </label> <select id="searchfor" class="form-control">
                                                    <option value="0" selected>Mã sinh viên</option>
                                                    <option value="1">Tên sinh viên </option>
                                                </select>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <button type="button" onclick="search()" class="btn btn-primary">
                                    <span class="fa fa-search"
                                          aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            <!-- RECENT PURCHASES -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <table class="table" style="margin-bottom: 0px">
                        <tr>
                            <td class="col-sm-5" style="border: 0px;text-align: center;">
                                <label style="float: left;margin: 5px 20px ">Khóa học</label>
                                <div class="ddlKhoaHoc col-sm-8" style="padding-left:20px">

                                </div>
                            </td>
                            <td class="col-sm-1" style="border: 0px;"></td>
                            <td style="border: 0px;padding: 0px">
                                <label style="float: left;margin: 5px 20px ">Bộ môn</label>
                                <div class="ddlBoMon col-sm-8" style="padding-left:20px">

                                </div>
                            </td>

                    </table>
                    <div class="tab-pane active row" style="padding: 20px">
                        <table id="TableStudent" class="TableStudent table table-bordered col-sm-6" style="max-width: 40%;" cellspacing="0" cellpadding="5px" id=""
                               style="border-collapse:collapse;">
                            <thead>
                                <tr>
                                <th class="center-header" scope="col" style="width:20%;"><input id="select_checkbox" type="checkbox" /> All</th>
                                <th class="center-header" scope="col" style="width:10%;">Mã SV</th>
                                <th class="center-header" scope="col" style="width:30%;">Họ tên</th>
                                <th class="center-header" scope="col" style="width:25%;">Bộ Môn</th>
                            </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                        <div style="max-width: 10%;" class="col-sm-2">
                            <button id="move" class="btn btn-primary center-block" style="margin-top: 100px;"><i class="fa fa-angle-right fa-2x"></i></button>
                        </div>
                        <table id="TableSubject" style="max-width: 50%;" class="table table-bordered col-sm-4" cellspacing="0" cellpadding="10" id=""
                               style="border-collapse:collapse;">
                            <thead>
                                <tr>
                                    <th class="center-header" scope="col">STT</th>
                                    <th class="center-header" scope="col" style="width:35%;">Mã SV</th>
                                    <th class="center-header" scope="col" style="width:45%;">Họ tên</th>
                                    <th class="center-header" scope="col" style="width:45%;">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody class="tbodyresult"></tbody>

                        </table>


                    </div>

                </div>
            </div>

        </div>
        <!-- END RECENT PURCHASES -->

    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- END MAIN -->
