
@{
    ViewBag.Title = "ListScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section footer
{
    <script src="~/Assets/scripts/DropDown.js"></script>
    <script src="~/Assets/scripts/AddtionalListScore.js"></script>
}


<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-5">
                    <h4>DANH SÁCH ĐIỂM THỰC TẬP</h4>
                </div>
                <div class="col-md-7" style="margin-top: 10px">
                    <div class="input-group" style="max-width: 300px;float: right;" id="adv-search">
                        <input id="myInput" onkeyup="Search()" type="text" class="form-control"
                               placeholder="Search ..." />
                        <div class="input-group-btn" style="width: 20%;">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button"
                                            class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         role="menu">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter">
                                                    Tìm kiếm
                                                    theo
                                                </label> <select id="choosen" class="form-control">
                                                    <option value="0" selected>Mã sinh viên</option>
                                                    <option value="1">Tên sinh viên </option>
                                                </select>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary">
                                    <span class="fa fa-search"
                                          aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            <!-- RECENT PURCHASES -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label style="float: left;margin: 5px 0px ">Học kỳ </label>
                                <div class="ddlHocKy HocKy col-sm-8" style="padding-left:20px">

                                </div>

                            </div>
                            <div class="col-sm-4" style="padding-left:20px">
                                <label style="float: left;margin: 5px 0px ">Thực tập </label>
                                <div class="ddlLoaiTT LoaiTT col-sm-9" style="padding-left:20px">
                                </div>

                            </div>
                            


                        </div>
                        <table id="myTable" class="table table-bordered" cellspacing="0" cellpadding="5" id=""
                               style="border-collapse:collapse;margin-top:10px">
                            <thead>
                                <tr>
                                    <th class="center-header" scope="col">STT</th>
                                    <th class="center-header" scope="col" style="width:10%;">Mã SV</th>
                                    <th class="center-header" scope="col" style="width:20%;">Họ tên</th>
                                    <th class="center-header" scope="col">Tên đề tài</th>
                                    <th class="center-header" scope="col">Điểm công ty</th>
                                    <th class="center-header" scope="col">Điểm GVHD</th>
                                    <th class="center-header" scope="col">Điểm báo cáo</th>
                                    <th class="center-header" scope="col">Điểm tổng</th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                        <div class="row">

                            <div class="col-sm-5">
                                <p style="float: left;margin-top: 5px">Hiển thị </p>
                                <div style="float: left;margin: 0px 5px;" class="form-group">
                                    <select name="state" id="maxRows" class="form-control" style="width:80px;">
                                        <option selected value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                </div>
                                <p style="float: left;margin-top: 5px">trên 1 trang </p>
                            </div>
                            <div class="pagination-container col-sm-7">
                                <nav style="float:right;">
                                    <ul class="pagination"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END RECENT PURCHASES -->

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
