<!-- Thêm thư viện -->
<!-- Kết thúc-->
@{
    ViewBag.Title = "ListTopic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section footer
{
    <script src="~/Assets/scripts/DropDown.js"></script>
    <script src="~/Assets/scripts/AddtionalListTopic.js"></script>
}

<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-3">
                    <h4>ĐỀ TÀI THỰC TẬP</h4>
                </div>
                <div class="col-md-9" style="margin-top: 10px">
                    <div class="input-group" style="max-width: 255px;float: right;" id="adv-search">
                        <input type="text" class="form-control" placeholder="Search ..." id="myInput" onkeyup="Search()" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary" onclick="Search()">
                                <span class="fa fa-search"
                                      aria-hidden="true"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            <!-- RECENT PURCHASES -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="menu1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label style="float: left;margin: 5px 0px ">Học kỳ </label>
                                    <div class="ddlHocKy HocKy col-sm-8" style="padding-left:20px">

                                    </div>

                                </div>
                                <div class="col-sm-4" style="padding-left:20px">
                                    <label style="float: left;margin: 5px 0px ">Thực tập </label>
                                    <div class="ddlLoaiTT LoaiTT col-sm-9" style="padding-left:20px">
                                    </div>

                                </div>
                                <div class="col-sm-4" style="padding-left:20px">
                                    <label style="float: left;margin: 5px 0px ">Bộ Môn </label>
                                    <div class="ddlBoMon col-sm-9" style="padding-left:20px">
                                    </div>

                                </div>



                            </div>
                            <table id="myTable" class="mytable table table-bordered" cellspacing="0" cellpadding="5" id=""
                                   style="border-collapse:collapse;margin:10px 0px 10px 0px">
                                <thead>
                                    <tr>
                                        <th class="center-header" scope="col" style="width:5%;">STT</th>
                                        <th class="center-header" scope="col" style="width:35%;">Tên đề tài</th>
                                        <th class="center-header" scope="col" style="width:30%;">Mô tả</th>
                                        <th class="center-header" scope="col" style="width:15%;">Lĩnh vực</th>
                                        <th class="center-header" scope="col" style="width:15%;">Giảng viên</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody"></tbody>
                            </table>
                            <div class="row">

                                <div class="col-sm-5">
                                    <p style="float: left;margin-top: 5px">Hiển thị </p>
                                    <div style="float: left;margin: 0px 5px;" class="form-group">
                                        <select name="state" id="maxRows" class="form-control" style="width:80px;">
                                            <option value="10" selected>10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>

                                    </div>
                                    <p style="float: left;margin-top: 5px">trên 1 trang </p>
                                </div>
                                <div class="pagination-container col-sm-7">
                                    <nav style="float:right;">
                                        <ul class="pagination"></ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <!-- END RECENT PURCHASES -->

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
</div>





