

@{
    ViewBag.Title = "ListPractice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section footer
{
    <script src="~/Assets/scripts/DropDown.js"></script>
    <script src="~/Assets/scripts/AddtionalListPractice.js"></script>
}

<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-5">
                    <h4>DANH SÁCH THỰC TẬP</h4>
                </div>
                <div class="col-md-7" style="margin-top: 10px">
                    <div class="input-group" style="max-width: 300px;float: right;" id="adv-search">
                        <input id="myInput" onkeyup="Search()" type="text" class="form-control"
                               placeholder="Search ..." />
                        <div class="input-group-btn" style="width: 20%;">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button"
                                            class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         role="menu">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter">
                                                    Tìm kiếm
                                                    theo
                                                </label> <select class="form-control" id="choosen">
                                                    <option value="0" selected>Mã sinh viên</option>
                                                    <option value="1">Tên sinh viên </option>
                                                </select>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary">
                                    <span class="fa fa-search"
                                          aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            <!-- RECENT PURCHASES -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label style="float: left;margin: 5px 0px ">Học kỳ </label>
                            <div class="ddlHocKy HocKy col-sm-8" style="padding-left:20px">

                            </div>

                        </div>
                        <div class="col-sm-4" style="padding-left:20px">
                            <label style="float: left;margin: 5px 0px ">Thực tập </label>
                            <div class="ddlLoaiTT LoaiTT col-sm-9" style="padding-left:20px">
                            </div>

                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            <button style="float: right;border-radius: 2%;" class="btn btn-outline-info btn-primary">
                                <a style="color:white" id="export" href="/TopicStudent/Export?SemesterID=2&PracticeID=2">
                                    <i class="fa fa-download"></i> Export Excel
                                </a>
                            </button>
                        </div>

                    </div>
                    <table id="myTable" class="mytable table table-bordered" style="border-collapse:collapse;margin:10px 0px 10px 0px" cellspacing="0" cellpadding="5">
                        <thead>
                            <tr>
                                <th class="center-header" scope="col">STT</th>
                                <th class="center-header" scope="col">Mã SV</th>
                                <th class="center-header" scope="col">Họ tên</th>
                                <th class="center-header" scope="col">GVHD</th>
                                <th class="center-header" scope="col" style="width:30%;">Tên đề tài</th>
                                <th class="center-header" scope="col">Tiến độ</th>
                                <th class="center-header" scope="col">Kết quả</th>
                                <th class="center-header" scope="col">Điểm</th>
                            </tr>
                        </thead>
                        <tbody class="tbody"></tbody>
                    </table>
                    <div class="row">

                        <div class="col-sm-5">
                            <p style="float: left;margin-top: 5px">Hiển thị </p>
                            <div style="float: left;margin: 0px 5px;" class="form-group">
                                <select name="state" id="maxRows" class="form-control" style="width:80px;">
                                    <option value="10" selected>10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                            </div>
                            <p style="float: left;margin-top: 5px">trên 1 trang </p>
                        </div>
                        <div class="pagination-container col-sm-7">
                            <nav style="float:right;">
                                <ul class="pagination"></ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>



