@{
    ViewBag.Title = "Home Page";
}

<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa,Xóa đề tài"))
                {
                    <li><a href="~/Topic/Index" class=""><i class="fa fa-book"></i> <span>Đề tài thực tập</span></a></li>
                }

                @if (Session["Quyen"].ToString().Contains("Xem danh sách hướng dẫn"))
                {
                    <li><a href="~/Student/ListStudentTeacher" class=""><i class="fa fa-list-alt"></i> <span>Danh sách hướng dẫn</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Chốt đề tài"))
                {
                    <li><a href="~/TopicStudent/SaveTopic" class=""><i class="fa fa-check-circle"></i> <span>Chốt đề tài</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách sinh viên"))
                {
                    <li><a href="~/Student/ListStudent" class=""><i class="fa fa-user-plus"></i> <span>Danh sách sinh viên</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách Giảng viên"))
                {
                    <li><a href="~/Teacher/ListTeacherSubject" class=""><i class="fa fa-user-plus"></i> <span>Danh sách giảng viên</span></a></li>
                }


                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách thực tập"))
                {
                    <li><a href="~/StudentPractice/Index" class=""><i class="fa fa-address-card"></i> <span>Danh sách thực tập</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Phân Bộ Môn"))
                {
                    <li><a href="~/StudentSubject/Index" class=""><i class="fa fa-server"></i> <span>Phân bộ môn</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa, Xóa điểm"))
                {
                    <li><a href="#" class=""><i class="fa fa-pencil-square-o"></i> <span>Điểm</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Xem danh sách sinh viên bộ môn"))
                {
                    <li><a href="~/Student/ListStudentSubject" class=""><i class="fa fa-user-plus"></i> <span>Danh sách sinh viên</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Xem danh sách giảng viên bộ môn"))
                {
                    <li><a href="~/Teacher/ListTeacherSubject" class=""><i class="fa fa-user-plus"></i> <span>Danh sách giảng viên</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Phân giáo viên hướng dẫn "))
                {
                    <li><a href="~/StudentTeacher/AssignedTeacher" class=""><i class="fa fa-server"></i> <span>Phân GVHD</span></a></li>
                }
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-12">
                    <h4>HỆ THỐNG QUẢN LÝ ĐỀ TÀI THỰC TẬP CỦA TRƯỜNG ĐẠI HỌC VINH</h4>
                </div>
               
            </div>
            <!-- END OVERVIEW -->
           

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>