@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section footer
{
    <script src="~/Assets/scripts/Home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script>
        $(window).on('load', function () {
            $.ajax({
                url: "/StudentPractice/ChartWith?practiceId="+1,
                type: "GET",
                async: false,
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    var i = 0;
                    var label = [];
                    var data = [];
                    $.each(result.List, function (key, item) {
                        console.log("aaaaa");
                        label.push(item[i].SemesterName);
                        data.push(item.length);
                        i++;
                    })
                    console.log(data);
                    var ctx = document.getElementById("myChart").getContext('2d');


                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: label,
                            datasets: [{
                                label: 'TTCS', // Name the series
                                data: data, // Specify the data values array
                                fill: false,
                                borderColor: '#2196f3', // Add custom color border (Line)
                                backgroundColor: '#2196f3', // Add custom color background (Points and Fill)
                                borderWidth: 1 // Specify bar border width
                            }]
                        },
                        options: {

                            responsive: true, // Instruct chart js to respond nicely.
                            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
                        }
                    });
                },

                error: function (errormessage) {

                }
            });

        })
        function getPractice(id) {
            $.ajax({
                url: "/StudentPractice/ChartWith?practiceId=" + id,
                type: "GET",
                async: false,
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {

                    var i = 0;
                    var label = [];
                    var data = [];
                    $.each(result.List, function (key, item) {
                        console.log("aaaaa");
                        label.push(item[i].SemesterName);
                        data.push(item.length);
                        i++;
                    })
                    console.log(data);
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var background_color;
                    var title;
                    if (id == 1) {
                        title = "TTCS";
                        background_color = "dodgerblue";
                    }
                    else if (id == 2) {
                        title = "TTCN";
                        background_color = "orangered";
                    }
                    else {
                        title = "TTTN";
                        background_color = "limegreen";
                    }
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: label,
                            datasets: [{
                                label: title, // Name the series
                                data: data, // Specify the data values array
                                fill: false,
                                borderColor: background_color, // Add custom color border (Line)
                                backgroundColor: background_color, // Add custom color background (Points and Fill)
                                borderWidth: 1 // Specify bar border width
                            }]
                        },
                        options: {

                            responsive: true, // Instruct chart js to respond nicely.
                            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
                        }
                    });
                },

                error: function (errormessage) {

                }
            });
        }
    </script>
}
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-12">
                    <h4>HỆ THỐNG QUẢN LÝ ĐỀ TÀI THỰC TẬP CỦA TRƯỜNG ĐẠI HỌC VINH</h4>
                </div>

            </div>
            <!-- END OVERVIEW -->
            @if (Session["Quyen"].ToString().Contains("Phân Bộ Môn") || Session["Quyen"].ToString().Contains("Phân giáo viên hướng dẫn ") || Session["Quyen"].ToString().Contains("Xem list thực tập"))
            {
                <div class="panel panel-headline">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body form-inline row">
                        <div class="col-lg-9" style="width:800px;height:400px">
                            <canvas id="myChart" height="400"></canvas>
                        </div>

                        <div style="float:right" class="col-lg-2">
                            <div class="form-inline form-practice" onclick="getPractice(1)">
                                <div class="" style=" width:40px; height:15px; background-color:dodgerblue;margin-top:3px;margin-right:10px"></div>
                                <span class="">TTCS</span>
                            </div>
                            <div class="form-inline form-practice" onclick="getPractice(2)">
                                <div class="" style=" width:40px; height:15px; background-color:orangered;margin-top:3px;margin-right:10px"></div>
                                <span class="">TTCN</span>
                            </div>
                            <div class="form-inline form-practice" onclick="getPractice(3)">
                                <div class="" style=" width:40px; height:15px; background-color:limegreen;margin-top:3px;margin-right:10px"></div>
                                <span class="">TTTN</span>
                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
