@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-12">
                    <h4>HỆ THỐNG QUẢN LÝ ĐỀ TÀI THỰC TẬP CỦA TRƯỜNG ĐẠI HỌC VINH</h4>
                </div>
               
            </div>
            <!-- END OVERVIEW -->
           

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>