@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa,Xóa đề tài"))
                { 
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="fa fa-book"></i><span> Thực tập </span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse ">
                            <ul class="nav">
                                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa,Xóa đề tài"))
                                {
                                    <li><a href="~/Topic/Index" class=""><span>Đề tài thực tập</span></a></li>
                                }


                                @if (Session["Quyen"].ToString().Contains("Xem danh sách hướng dẫn"))
                                {
                                    <li><a href="~/Student/ListStudentTeacher" class=""><span>Danh sách hướng dẫn</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Chốt đề tài"))
                                {
                                    <li><a href="~/TopicStudent/SaveTopic" class=""><span>Chốt đề tài</span></a></li>
                                }
                                <li><a href="~/TopicStudent/MonitorProgress" class=""><span>Giám sát tiến độ</span></a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="fa fa-address-card"></i> <span> Danh sách </span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages2" class="collapse ">
                            <ul class="nav">
                                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách sinh viên"))
                                {
                                    <li><a href="~/Student/ListStudent" class=""><span>Danh sách sinh viên</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách Giảng viên"))
                                {
                                    <li><a href="~/Teacher/ListTeacherSubject" class=""><span>Danh sách giảng viên</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách thực tập"))
                                {
                                    <li><a href="~/StudentPractice/Index" class=""><span>Danh sách thực tập</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa, Xóa thông báo"))
                                {
                                    <li><a href="~/Notification/Index" class=""><span>Danh sách thông báo</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Xem danh sách sinh viên bộ môn"))
                                {
                                    <li><a href="~/Student/ListStudentSubject" class=""><span>Danh sách sinh viên</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Xem danh sách giảng viên bộ môn"))
                                {
                                    <li><a href="~/Teacher/ListTeacherSubject" class=""><span>Danh sách giảng viên</span></a></li>
                                }
                            </ul>
                        </div>
                    </li>


                    if (Session["Quyen"].ToString().Contains("Phân Bộ Môn"))
                    {
                        <li><a href="~/StudentSubject/Index" class=""><i class="fa fa-server"></i> <span>Phân bộ môn</span></a></li>
                    }


                    if (Session["Quyen"].ToString().Contains("Phân giáo viên hướng dẫn "))
                    {
                        <li><a href="~/StudentTeacher/AssignedTeacher" class=""><i class="fa fa-server"></i> <span>Phân GVHD</span></a></li>
                    }


                    if (Session["Quyen"].ToString().Contains("Thêm, Sửa, Xóa điểm"))
                    {
                        <li><a href="~/Score/ListScore" class=""><i class="fa fa-pencil-square-o"></i> <span>Điểm</span></a></li>
                    }
                }
                @if (Session["Quyen"].ToString().Contains("Xem list đề tài"))
                {
                    <li><a href="~/Additional/ListTopic" class=""><i class="fa fa-book"></i> <span>Đề tài</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Xem list thực tập"))
                {
                    <li><a href="~/Additional/ListPractice" class=""><i class="fa fa-server"></i> <span>Thực tập</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Xem list điểm"))
                {
                    <li><a href="~/Additional/ListScore" class=""><i class="fa fa-pencil-square-o"></i> <span>Điểm</span></a></li>
                }


            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-12">
                    <h4>HỆ THỐNG QUẢN LÝ ĐỀ TÀI THỰC TẬP CỦA TRƯỜNG ĐẠI HỌC VINH</h4>
                </div>
               
            </div>
            <!-- END OVERVIEW -->
           

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>