
@{
    ViewBag.Title = "ListStudentSubject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section footer
{
    <script src="~/Assets/scripts/DropDown.js"></script>
    <script src="~/Assets/scripts/ListStudentSubjectControl.js"></script>
}
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa,Xóa đề tài"))
                {
                    <li><a href="~/Topic/Index" class=""><i class="fa fa-book"></i> <span>Đề tài thực tập</span></a></li>
                }

                @if (Session["Quyen"].ToString().Contains("Xem danh sách hướng dẫn"))
                {
                    <li><a href="~/Student/ListStudentTeacher" class=""><i class="fa fa-list-alt"></i> <span>Danh sách hướng dẫn</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Chốt đề tài"))
                {
                    <li><a href="~/TopicStudent/SaveTopic" class=""><i class="fa fa-check-circle"></i> <span>Chốt đề tài</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách sinh viên"))
                {
                    <li><a href="~/Student/ListStudent" class=""><i class="fa fa-user-plus"></i> <span>Danh sách sinh viên</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách Giảng viên"))
                {
                    <li><a href="~/Teacher/ListTeacherSubject" class=""><i class="fa fa-user-plus"></i> <span>Danh sách giảng viên</span></a></li>
                }


                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách thực tập"))
                {
                    <li><a href="~/StudentPractice/Index" class=""><i class="fa fa-address-card"></i> <span>Danh sách thực tập</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Phân Bộ Môn"))
                {
                    <li><a href="~/StudentSubject/Index" class=""><i class="fa fa-server"></i> <span>Phân bộ môn</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa, Xóa điểm"))
                {
                    <li><a href="~/Score/ListScore" class=""><i class="fa fa-pencil-square-o"></i> <span>Điểm</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Xem danh sách sinh viên bộ môn"))
                {
                    <li><a href="~/Student/ListStudentSubject" class="active"><i class="fa fa-user-plus"></i> <span>Danh sách sinh viên</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Xem danh sách giảng viên bộ môn"))
                {
                    <li><a href="~/Teacher/ListTeacherSubject" class=""><i class="fa fa-user-plus"></i> <span>Danh sách giảng viên</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Phân giáo viên hướng dẫn "))
                {
                    <li><a href="~/StudentTeacher/AssignedTeacher" class=""><i class="fa fa-server"></i> <span>Phân GVHD</span></a></li>
                }
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-5">
                    <h4>DANH SÁCH SINH VIÊN</h4>
                </div>
                <div class="col-md-7" style="margin-top: 10px">
                    <div class="input-group" style="max-width: 300px;float: right;" id="adv-search">
                        <input id="myInput" onkeyup="Search()" type="text" class="form-control"
                               placeholder="Search ..." />
                        <div class="input-group-btn" style="width: 20%;">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button"
                                            class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         role="menu">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter">
                                                    Tìm kiếm
                                                    theo
                                                </label> <select id="choosen" class="form-control">
                                                        <option value="0" selected>Mã sinh viên</option>
                                                        <option value="1">Tên sinh viên</option>
                                                    </select>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary">
                                    <span class="fa fa-search"
                                          aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            <!-- RECENT PURCHASES -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div>
                        <label style="float: left;margin: 5px 10px 25px 0px ">Khóa học </label>
                        <div class="ddlKhoaHoc col-sm-3" style="padding-left:20px">
                        </div>
                        <table class="mytable table table-bordered" cellspacing="0" cellpadding="5"
                               style="border-collapse:collapse;">
                            <tr>
                                <th class="center-header" scope="col">STT</th>
                                <th class="center-header" scope="col" style="width:10%;">Mã SV</th>
                                <th class="center-header" scope="col" style="width:15%;">Họ tên</th>
                                <th class="center-header" scope="col">Ngày sinh</th>
                                <th class="center-header" scope="col">Giới tính</th>
                                <th class="center-header" scope="col">Email</th>
                                <th class="center-header" scope="col">SĐT</th>
                                <th class="center-header" scope="col" style="width:20%;">Địa chỉ</th>
                                <th class="center-header" scope="col">Ghi chú</th>
                            </tr>
                            <tbody class="tbody"></tbody>

                        </table>
                        <div class="row">

                            <div class="col-sm-5">
                                <p style="float: left;margin-top: 5px">Hiển thị </p>
                                <div style="float: left;margin: 0px 5px;" class="form-group">
                                    <select name="state" id="maxRows" class="form-control" style="width:80px;">
                                        <option value="10" selected>10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                </div>
                                <p style="float: left;margin-top: 5px">trên 1 trang </p>
                            </div>
                            <div class="pagination-container col-sm-7">
                                <nav style="float:right;">
                                    <ul class="pagination"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END RECENT PURCHASES -->

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
