
@{
    ViewBag.Title = "ChonDeTai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section footer
{
    <script src="~/Assets/scripts/DropDown.js"></script>
    <script src="~/Assets/scripts/ChooseTopicControl.js"></script>
}
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="~/StudentTeacher/InstructorInfo" class=""><i class="fa fa-address-card"></i> <span>Thông tin chi tiết</span></a></li>
                <li><a href="~/TopicStudent/ChooseTopic" class="active"><i class="fa fa-book"></i> <span>Đề tài thực tập</span></a></li>
                <li><a href="~/Score/StudentScore" class=""><i class="fa fa-list-alt"></i> <span>Kết quả thực tập</span></a></li>

            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h4>ĐỀ TÀI THỰC TẬP</h4>
                </div>

            </div>
            <!-- END OVERVIEW -->
            <!-- RECENT PURCHASES -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div>
                        <label style="float: left;margin: 5px 10px 25px 0px ">Thực tập </label>
                        <div class="ddlLoaiTT col-sm-3" style="padding-left:20px">
                        </div>
                        <table class="mytable table table-bordered" cellspacing="0" cellpadding="5">
                            <tr>
                                <th class="center-header" scope="col">STT</th>
                                <th class="center-header" scope="col" style="width:40%;">Tên đề tài</th>
                                <th class="center-header" scope="col" style="width:40%;">Mô tả</th>
                                <th class="center-header" scope="col">Chọn</th>
                                <th class="center-header" scope="col">Chi tiết</th>
                            </tr>
                            <tbody class="tbody"></tbody>
                        </table>
                        <table class="tableTopic table table-bordered" cellspacing="0" cellpadding="5">

                        </table>

                        <div class="row page">

                            <div class="col-sm-5">
                                <p style="float: left;margin-top: 5px">Hiển thị </p>
                                <div style="float: left;margin: 0px 5px;" class="form-group">
                                    <select name="state" id="maxRows" class="form-control" style="width:80px;">
                                        <option value="10" selected>10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                </div>
                                <p style="float: left;margin-top: 5px">trên 1 trang </p>
                            </div>
                            <div class="pagination-container col-sm-7">
                                <nav style="float:right;">
                                    <ul class="pagination"></ul>
                                </nav>
                            </div>
                        </div>

                        <div class="row editsave"></div>
                    </div>
                </div>

            </div>
            <!-- END RECENT PURCHASES -->

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>

