
@{
    ViewBag.Title = "MonitorProgress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section footer
{
    <script src="~/Assets/scripts/DropDown.js"></script>
    <script src="~/Assets/scripts/MonitorProgressControl.js"></script>
}

<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-3">
                    <h4>GIÁM SÁT TIẾN ĐỘ</h4>
                </div>
                <div class="col-md-9" style="margin-top: 10px">
                    <div class="input-group" style="max-width: 255px;float: right;" id="adv-search">
                        <input type="text" class="form-control" placeholder="Search ..." id="myInput" onkeyup="Search()" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary" onclick="Search()">
                                <span class="fa fa-search"
                                      aria-hidden="true"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            <!-- RECENT PURCHASES -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label style="float: left;margin: 5px 0px ">Học kỳ </label>
                            <div class="ddlHocKy HocKy col-sm-8" style="padding-left:20px">

                            </div>

                        </div>
                        <div class="col-sm-4" style="padding-left:20px">
                            <label style="float: left;margin: 5px 0px ">Thực tập </label>
                            <div class="ddlLoaiTT LoaiTT col-sm-9" style="padding-left:20px">
                            </div>

                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            <button style="float: right;border-radius: 2%;" class="btn btn-outline-info btn-primary">
                                <a style="color:white" id="export" href="/TopicStudent/Export?SemesterID=2&PracticeID=2">
                                    <i class="fa fa-download"></i> Export Excel
                                </a>
                            </button>
                        </div>

                    </div>
                        <table id="myTable" class="mytable table table-bordered"  style="border-collapse:collapse;margin:10px 0px 10px 0px" cellspacing="0" cellpadding="5">
                            <thead class="thead">
                                <tr >
                                    <th class="center-header" scope="col">STT</th>
                                    <th class="center-header" scope="col">Mã SV</th>
                                    <th class="center-header" scope="col">Họ tên</th>
                                    <th class="center-header" scope="col" style="width:30%;">Tên đề tài</th>
                                    <th class="center-header" scope="col">Tiến độ</th>
                                    <th class="center-header" scope="col">Kết quả</th>
                                    <th class="center-header" scope="col">Điểm</th>
                                    <th class="center-header" scope="col">Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>


                    </div>
                </div>

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
</div>
<!-- Modal giám sát tiến độ -->
<div class="modal fade" id="giamsattd" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:0">

                <button type="button" class="close" data-dismiss="modal" onclick="Reload()">&times;</button>
                <h4 class="modal-title">ĐÁNH GIÁ TIẾN ĐỘ</h4>


            </div>
            <div style="width:75%;margin:auto">
                <div class="modal-body">

                    <!-- edit form column -->
                    <input type="hidden" id="ID" />
                    <div class="container">
                        <div class="stepwizard">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step col-xs-4">
                                    <a href="#step-1" id="step1" type="button" class="btn btn-success btn-circle" disabled="disabled">1</a>
                                    <p><small>BCTĐ lần 1</small></p>
                                </div>
                                <div class="stepwizard-step col-xs-4">
                                    <a href="#step-2" id="step2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                    <p><small>BCTĐ lần 2</small></p>
                                </div>
                                <div class="stepwizard-step col-xs-4">
                                    <a href="#step-3" id="step3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                    <p><small>Đánh giá</small></p>
                                </div>
                            </div>
                        </div>

                        <div class="container" style="width:50%;float:left">
                            <div class="panel panel-primary setup-content" id="step-1">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Báo cáo tiến độ lần 1</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label">Hình thành ý tưởng, lựa chọn ngôn ngữ để thực hiện đề tài</label>

                                    </div>
                                    <button class="btn btn-success nextBtn pull-right" type="button">Next</button>
                                    <button class="btn btn-danger pull-right lose" data-dismiss="modal" style="margin-right:5%">Không đạt</button>
                                </div>
                            </div>

                            <div class="panel panel-primary setup-content" id="step-2">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Báo cáo tiến độ lần 2</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label">Trình bày sơ qua về những phần đã hoàn thiện( Bao gồm sản phẩm, báo cáo word và slide)</label>

                                    </div>

                                    <button class="btn btn-success nextBtn pull-right" type="button">Next</button>
                                    <button class="btn btn-danger pull-right lose" data-dismiss="modal" style="margin-right:5%">Không đạt</button>
                                </div>
                            </div>

                            <div class="panel panel-primary setup-content" id="step-3">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Đánh giá</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label">Trình bày sản phẩm đã hoàn thiện</label>
                                        <div style="margin-left:50px">
                                            <p>Điểm :</p>
                                            <input type="text" id="score" />
                                            <p style="color:red" class="has-error">* Nhập điểm đối với những sinh viên xét đạt</p>
                                        </div>
                                    </div>

                                    <button class="btn btn-success pull-right success " data-dismiss="modal" type="submit">Đạt!</button>
                                    <button class="btn btn-danger pull-right lose" data-dismiss="modal" style="margin-right:5%">Không đạt</button>

                                </div>
                            </div>


                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
    </div>
    <!-- /Modal giám sát tiến độ -->
    <div id="snackbar">
        <div id="notification" class="alert" style="padding: 10px 15px 10px 15px"></div>
    </div>
    <!-- /Modal thông báo -->
    <div class="modal fade" id="thongbao" role="dialog" style="margin-top:7%">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="width:55%;margin:auto;padding:20px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Question</h4>
                </div>               
                <div>

                    <div class="modal-body">
                        Đã xét duyệt với sinh viên này. Muốn sửa đổi kết quả ?

                    </div>
                    <div class="modal-footer">
                        <button onclick="QuestionUpdate()" type="submit" class="btn btn-default btn-success" > Có</button>
                        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal"> Không</button>
                    </div>

                </div>

            </div>
        </div>
     </div>
