
@{
    ViewBag.Title = "Chốt đề tài";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section footer
{
    <script src="~/Assets/scripts/DropDown.js"></script>
    <script src="~/Assets/scripts/SaveTopic.js"></script>
}
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>
                    <a id="menu" href="#subPages" class="collapsed"><i class="fa fa-book"></i><span> Thực tập </span> <i class="icon-submenu lnr lnr-chevron-left" style="float:right;font-size:15px"></i></a>
                    <div id="subPages" class="collapse">
                        <ul class="nav">
                            @if (Session["Quyen"].ToString().Contains("Thêm, Sửa,Xóa đề tài"))
                            {
                                <li><a href="~/Topic/Index" class=""><span>Đề tài thực tập</span></a></li>
                            }


                            @if (Session["Quyen"].ToString().Contains("Xem danh sách hướng dẫn"))
                            {
                                <li><a href="~/Student/ListStudentTeacher" class=""><span>Danh sách hướng dẫn</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Chốt đề tài"))
                            {
                                <li><a href="~/TopicStudent/SaveTopic" class="menu"  style="background-color:#337ab7"><span>Chốt đề tài</span></a></li>
                            }
                            <li><a href="~/TopicStudent/MonitorProgress" class=""><span>Giám sát tiến độ</span></a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a id="menu2" href="#subPages2" class="collapsed"><i class="fa fa-address-card"></i> <span> Danh sách </span> <i class="icon-submenu lnr lnr-chevron-left" style="float:right;font-size:15px"></i></a>
                    <div id="subPages2" class="collapse">
                        <ul class="nav">
                            @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách sinh viên"))
                            {
                                <li><a href="~/Student/ListStudent" class=""><span>Danh sách sinh viên</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách Giảng viên"))
                            {
                                <li><a href="~/Teacher/ListTeacherSubject" class=""><span>Danh sách giảng viên</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách thực tập"))
                            {
                                <li><a href="~/StudentPractice/Index" class=""><span>Danh sách thực tập</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Thêm, Sửa, Xóa thông báo"))
                            {
                                <li><a href="~/Notification/Index" class=""><span>Danh sách thông báo</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Xem danh sách sinh viên bộ môn"))
                            {
                                <li><a href="~/Student/ListStudentSubject" class=""><span>Danh sách sinh viên</span></a></li>
                            }
                            @if (Session["Quyen"].ToString().Contains("Xem danh sách giảng viên bộ môn"))
                            {
                                <li><a href="~/Teacher/ListTeacherSubject" class=""><span>Danh sách giảng viên</span></a></li>
                            }
                        </ul>
                    </div>
                </li>


                @if (Session["Quyen"].ToString().Contains("Phân Bộ Môn"))
                {
                    <li><a href="~/StudentSubject/Index" class=""><i class="fa fa-server"></i> <span>Phân bộ môn</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa, Xóa điểm"))
                {
                    <li><a href="~/Score/ListScore" class=""><i class="fa fa-pencil-square-o"></i> <span>Điểm</span></a></li>
                }

                @if (Session["Quyen"].ToString().Contains("Phân giáo viên hướng dẫn "))
                {
                    <li><a href="~/StudentTeacher/AssignedTeacher" class=" "><i class="fa fa-server"></i> <span>Phân GVHD</span></a></li>
                }
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-4">
                    <h4>CHỐT ĐỀ TÀI THỰC TẬP</h4>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                    <div class="input-group" style="max-width: 255px;float: right;" id="adv-search">
                        <input onkeyup="Search()" id="myInput" type="text" class="form-control"
                               placeholder="Search ..." />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary">
                                <span class="fa fa-search"
                                      aria-hidden="true"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            <!-- RECENT PURCHASES -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label style="float: left;margin: 5px 0px ">Học kỳ </label>
                                <div class="ddlHocKy col-sm-8" style="padding-left:20px">

                                </div>

                            </div>
                            <div class="col-sm-4" style="padding-left:20px">
                                <label style="float: left;margin: 5px 0px ">Thực tập </label>
                                <div class="ddlLoaiTT col-sm-9" style="padding-left:20px">
                                </div>

                            </div>

                        </div>
                        <table id="mytable" class="mytable table table-bordered" cellspacing="0" cellpadding="5"
                               style="border-collapse:collapse;">
                            <tr>
                                <th class="center-header" scope="col">STT</th>
                                <th class="center-header" scope="col" style="width:30%;">Tên đề tài</th>
                                <th class="center-header" scope="col" style="width:10%;">Mã SV</th>
                                <th class="center-header" scope="col" style="width:20%;">Họ tên</th>
                                <th class="center-header" scope="col">Email</th>
                                <th class="center-header" scope="col">SDT</th>
                                <th class="center-header" scope="col">Độ ưu tiên</th>

                                <th class="center-header" scope="col">Trạng thái</th>
                            </tr>
                            <tbody class="tbody"></tbody>

                        </table>
                    </div>
                </div>

            </div>
            <!-- END RECENT PURCHASES -->

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>



