
@{
    ViewBag.Title = "Danh sách giảng viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section footer
{
    <script src="~/Assets/scripts/ListTeacherSubjectControl.js"></script>
}
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa,Xóa đề tài"))
                {
                    <li>
                        <a id="menu" href="#subPages" class="collapsed"><i class="fa fa-book"></i><span> Thực tập </span> <i class="icon-submenu lnr lnr-chevron-left" style="float:right;font-size:15px"></i></a>
                        <div id="subPages" class="collapse ">
                            <ul class="nav">
                                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa,Xóa đề tài"))
                                {
                                    <li><a href="~/Topic/Index" class=""><span>Đề tài thực tập</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Xem danh sách hướng dẫn"))
                                {
                                    <li><a href="~/Student/ListStudentTeacher" class=""><span>Danh sách hướng dẫn</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Chốt đề tài"))
                                {
                                    <li><a href="~/TopicStudent/SaveTopic" class=""><span>Chốt đề tài</span></a></li>
                                }
                                <li><a href="~/TopicStudent/MonitorProgress" class=""><span>Giám sát tiến độ</span></a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a id="menu2" href="#subPages2" class="collapsed"><i class="fa fa-address-card"></i> <span> Danh sách </span> <i class="icon-submenu lnr lnr-chevron-left" style="float:right;font-size:15px"></i></a>
                        <div id="subPages2" class="collapse ">
                            <ul class="nav">
                                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách sinh viên"))
                                {
                                    <li><a href="~/Student/ListStudent" class=""><span>Danh sách sinh viên</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách Giảng viên"))
                                {
                                    <li><a href="~/Teacher/ListTeacherSubject" class="menu2" style="background-color:#337ab7"><span>Danh sách giảng viên</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa , Xóa Danh sách thực tập"))
                                {
                                    <li><a href="~/StudentPractice/Index" class=""><span>Danh sách thực tập</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Thêm, Sửa, Xóa thông báo"))
                                {
                                    <li><a href="~/Notification/Index"><span>Danh sách thông báo</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Xem danh sách sinh viên bộ môn"))
                                {
                                    <li><a href="~/Student/ListStudentSubject" ><span>Danh sách sinh viên</span></a></li>
                                }
                                @if (Session["Quyen"].ToString().Contains("Xem danh sách giảng viên bộ môn"))
                                {
                                    <li><a href="~/Teacher/ListTeacherSubject" class="active  menu2" style="background-color:#337ab7"><span>Danh sách giảng viên</span></a></li>
                                }
                            </ul>
                        </div>
                    </li>


                    if (Session["Quyen"].ToString().Contains("Phân Bộ Môn"))
                    {
                        <li><a href="~/StudentSubject/Index" class=""><i class="fa fa-server"></i> <span>Phân bộ môn</span></a></li>
                    }


                    if (Session["Quyen"].ToString().Contains("Phân giáo viên hướng dẫn "))
                    {
                        <li><a href="~/StudentTeacher/AssignedTeacher" class=""><i class="fa fa-server"></i> <span>Phân GVHD</span></a></li>
                    }


                    if (Session["Quyen"].ToString().Contains("Thêm, Sửa, Xóa điểm"))
                    {
                        <li><a href="~/Score/ListScore" class=""><i class="fa fa-pencil-square-o"></i> <span>Điểm</span></a></li>
                    }
                }
                @if (Session["Quyen"].ToString().Contains("Xem list đề tài"))
                {
                    <li><a href="~/Additional/ListTopic" class=""><i class="fa fa-book"></i> <span>Đề tài</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Xem list thực tập"))
                {
                    <li><a href="~/Additional/ListPractice" class=""><i class="fa fa-server"></i> <span>Danh sách thực tập</span></a></li>
                }
                @if (Session["Quyen"].ToString().Contains("Xem list điểm"))
                {
                    <li><a href="~/Additional/ListScore" class=""><i class="fa fa-pencil-square-o"></i> <span>Điểm</span></a></li>
                }


            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- OVERVIEW -->
            <div class="panel panel-headline row">
                <div class="panel-heading col-md-5">
                    <h4>DANH SÁCH GIẢNG VIÊN</h4>
                </div>
                <div class="col-md-7" style="margin-top: 10px">
                    <div class="input-group" style="max-width: 300px;float: right;" id="adv-search">
                        <input id="myInput" type="text" class="form-control"
                               placeholder="Search ..." onkeyup="Search()" />
                        <div class="input-group-btn" style="width: 20%;">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button"
                                            class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         role="menu">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter">
                                                    Tìm kiếm
                                                    theo
                                                </label> <select id="choosen" class="form-control">
                                                    <option value="0" selected>Mã giảng viên</option>
                                                    <option value="1">Tên giảng viên</option>
                                                </select>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary">
                                    <span class="fa fa-search"
                                          aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            <!-- RECENT PURCHASES -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div>
                        <div class="row">

                            <div class="col-sm-6">
                                <label style="float: left;margin: 5px 0px ">Bộ môn </label>
                                <select style="float: right;width: 75%;" class="form-control">
                                    <option disabled value="thuctap"> -- Chọn bộ môn -- </option>
                                    <option value="1">Hệ thống và mạng máy tính</option>
                                    <option value="2">Khoa học máy tính và CN Phần mềm</option>

                                </select>
                            </div>
                            <div class="col-sm-6" style="padding: 0px;">
                                <button data-toggle="modal"
                                        data-target="#themdssv" style="float: right;border-radius: 2%;" class="btn btn-outline-info btn-primary">
                                    <i class="fa fa-plus"></i> Thêm mới
                                </button>
                            </div>
                        </div>
                        <table id="myTable" class="mytable table table-bordered" cellspacing="0" cellpadding="5"
                               style="border-collapse:collapse;margin:10px 0px 10px 0px">
                            <thead>
                                <tr>
                                    <th class="center-header" scope="col">STT</th>
                                    <th class="center-header" scope="col" style="width:10%;">Mã GV</th>
                                    <th class="center-header" scope="col" style="width:20%;">Họ tên</th>
                                    <th class="center-header" scope="col">Ngày sinh</th>
                                    <th class="center-header" scope="col">Giới tính</th>
                                    <th class="center-header" scope="col">Email</th>
                                    <th class="center-header" scope="col">SĐT</th>
                                    <th class="center-header" scope="col">Địa chỉ</th>
                                    <th class="center-header" scope="col">Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>

                        </table>
                        <div class="row">

                            <div class="col-sm-5">
                                <p style="float: left;margin-top: 5px">Hiển thị </p>
                                <div style="float: left;margin: 0px 5px;" class="form-group">
                                    <select name="state" id="maxRows" class="form-control" style="width:80px;">
                                        <option value="10" selected>10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                </div>
                                <p style="float: left;margin-top: 5px">trên 1 trang </p>
                            </div>
                            <div class="pagination-container col-sm-7">
                                <nav style="float:right;">
                                    <ul class="pagination"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END RECENT PURCHASES -->

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<!-- Modal them gv -->
<div class="modal fade" id="themdssv" role="dialog" style="margin-top: 7%">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">THÊM DANH SÁCH GIẢNG VIÊN</h4>
            </div>
            <div class="modal-body">
                <!-- edit form column -->
                <form style="max-width: 80%;margin: auto">
                    <div class="row">
                        <div class="form-group col-sm-8 row">
                            <label class="col-sm-4 control-label" style="margin-top: 15px;margin-right: 20px">Bộ môn</label>
                            <div class="col-sm-6">
                                <select class="form-control" style="margin:10px 0px" onchange="" id="">
                                    <option value="1">Hệ thống và mạng máy tính</option>
                                    <option value="2">Khoa học máy tính và CN Phần mềm</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 row">

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3" for="">Chọn file</label>
                        <input id="file" type="file" name="sortpic" class="" />
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-success"> <i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Modal them gv -->
